$task-height = 40px
$task-gap = 10px
$task-bg-color = #f5fffd
$task-bd-color = #00d1b2
$task-font-color = #666
$task-padding = 0 15px
$task-bd-radius = 3px
$table-bd-color = rgba(255, 255, 255, 0.3)
$table-bd-color-lite = rgba(255, 255, 255, 0.1)
$table-col0-width = 150px
$table-row-min-height = 160px
$table-bg-color = #f4f5f5
$table-bd-max-height = auto
$table-hd-fontsize = 14px
$table-hd-color = #fff
$table-hd-bgcolor = rgba(255, 255, 255, 0.3)
$spinner-size = 28px
$spinner-color = rgba(255, 255, 255, 0.8)


// mixins
vhc()
  text-align center
  display flex
  align-items center
  justify-content center