@import '_vars'

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar
  width: 6px
::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15)
::-webkit-scrollbar-thumb
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15)

.at-eg
  font-family Arial, Helvetica, sans-serif
  // table styles
  &-tb
    width 100%
    max-width 100%
    min-width 300px
    border-collapse collapse
    border-spacing 0
    table-layout fixed
  // header
  &-hd
    background $table-hd-bgcolor
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    th
      text-align center
      text-transform: uppercase
      padding 15px
      vertical-align bottom
      color: $table-hd-color
      font-size $table-hd-fontsize

  // body
  &-bd
    border 1px solid $table-bd-color
    background $table-bd-color-lite
    color: $task-font-color
    max-height: $table-bd-max-height
    overflow-x: auto
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px
    tr
      &:hover
        td
          background: $table-bd-color
    td
      vertical-align top
      border-bottom 1px solid $table-bd-color-lite
      text-align left

  // user task
  &-user
    padding 10px
    vhc()
    position absolute
    height 100%
    width 100%
  &-avatar
    border-radius 100%
  &-name
    margin 10px 0 0 0
  // cell
  &-cell
    &-a, &-first
      width $table-col0-width
    &-a
      position relative
      border-right 1px solid $table-bd-color-lite
    &-b
      position relative
      padding 0!important
    for idx in (0..6) 
      &-{idx}
        z-index: 7 - idx
  // row
  &-tall
    for idx in (1..10)
      &-{idx}
        height ($task-height + $task-gap) * idx + $task-gap
  // task item
  &-task
    position absolute
    left 0
    &-inner
      padding $task-padding
      border-radius $task-bd-radius
      background-color $task-bg-color
      border 1px solid $task-bd-color
      color $task-font-color
      height $task-height
      line-height $task-height
      margin $task-gap
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      text-align left
  // misc
  &-tgroup
    min-height $table-row-min-height
  &-len
    for idx in (1..7)
      &-{idx}
        width 100% * idx
        
  &-floor
    for idx in (0..10)
      &-{idx}
        top ($task-height + $task-gap) * idx
  // spinner
  &-spinner
    > i
      display: inline-block
      margin: 15px 0
      width: $spinner-size
      height: $spinner-size
      font-size: $spinner-size
      line-height:$spinner-size
      border-radius: 50%
    &-default
      position: relative
      border: 1px solid $spinner-color
      animation: ease at-eg-loading-rotating 1.5s infinite
      &:before
        $size = 6px
        content: ''
        position: absolute
        display: block
        top: 0
        left: 50%
        margin-top: -($size / 2)
        margin-left: -($size / 2)
        width: $size
        height: $size
        background-color: $spinner-color
        border-radius: 50%

@keyframes at-eg-loading-rotating
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)
